@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background: linear-gradient(138.45deg, #000000 0%, #0B003E 100%) !important;
    font-family: 'Roboto', sans-serif;
}
 h1{
    position: absolute;
    width: 332px;
    height: 58px;
    left: 72px;
    top: 216px;
    
   
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    
    
    color: #61B6E0;
}
ul{
    position: absolute;
width: 295px;
height: 160px;
left: 72px;
top: 380px;


font-weight: 600;
font-size: 22px;
line-height: 40px;
color: white;
/* or 167% */
}

li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
  }


 i{
     font-size: 1rem;
 }
 .loginBtn{
background-color:#D33534;
padding:1rem;
font-size: 1.1rem;
 }
 .loginBtn i{
     font-size: 1.1rem;
     color:white;
 }